name: budgety
description: "Eine Haushaltsbuch-App zur Verwaltung von Einnahmen und Ausgaben."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  
  # F체r Datums- und W채hrungsformatierung
  intl: ^0.19.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true

  # Falls wir sp채ter Icons oder Bilder hinzuf체gen, werden wir sie hier registrieren.
  # assets:
  #   - assets/images/